@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

/* These color Palletes will be passed to the root element which is Html */
:root {
    --primary-color: black;
    --primary-variant: lightblue;
    --secondary-color: blue;
    --on-background: #F4F6F8;
    --on-background-2: white;
}

[data-theme="light"] {
    --primary-color: black;
    --primary-variant: lightblue;
    --secondary-color: blue;
    --on-background: #F4F6F8;
    --on-background-2: white;
}

[data-theme="dark"] {
    --primary-color: white;
    --primary-variant: #6E8098;
    --secondary-color: white;
    --on-background: #121721;
    --on-background-2: #19202d;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: var(--on-background);
    height: auto;
    transition: 1s ease-in-out;
}

.OuterContainer {
    width: 100%;
    height: auto;
}

header {
    width: 100%;
    height: 25%;
    background-image: url(assets/desktop/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 50px 0px;

}

.LogoConatiner {
    width: 65%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -10px auto;
}

.Light-DarkMode {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.Light-DarkMode img {
    width: 20px;
}

/* The switch - the box around the slider for light and darkMode */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin: 0px 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: #939bf4;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: white;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Search Feild css */
.SearchContainer {
    width: 75%;
    height: 30%;
    background-color: var(--on-background-2);
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;

}

.SearchContainer img {
    padding: 5px;
}

.title {
    width: 30%;
    height: 100%;
    border: none;
    border-right: solid 1px gray;
    background-color: var(--on-background-2);
    transition: 1s ease-in-out;
}

.location {
    width: 30%;
    height: 100%;
    border: none;
    border-right: solid 1px gray;
    background-color: var(--on-background-2);
    transition: 1s ease-in-out;
}

.submit {
    width: 35%;
    min-width: 350px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.submit button {
    padding: 5px 15px;
    background-color: #2196F3;
    border: solid #2196F3;
}

.Reset {
    background-color: gray;
    margin: 0px 10px;
    display: none;
}

/* Header Section complete */

/* main section */
main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    position: relative;
    overflow: visible;
    /* overflow-y: hidden; */

}

/* All the css pertaining the job cards */

.Job-Posting-Container {
    width: 70%;
    max-width: 2000px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px auto;
    transition: 1s ease-in-out;

}

.jobCard {
    width: 29%;
    height: 250px;
    background-color: var(--on-background-2);
    margin: 40px 10px;
    position: relative;
    border-radius: 10px;
    transition: 1s ease-in-out;
    cursor: pointer;
}

.logocard {
    width: 65px;
    height: 65px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    position: absolute;
    top: -13%;
    left: 5%;
}

.companyLogo {
    width: 90%;
    object-fit: contain;
}

.jobInfo {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 55px 0px 10px 0px;
}

.jobInfo .dot {
    font-weight: bold;
}

.jobInfo .CompanyName,
p {
    margin: 0px 10px;
    color: #9DAEC2;
}

.jobCard .Role {
    margin: 10px 10px;
    color: var(--primary-color);
    transition: 1s ease-in-out;
}

.jobCard .jobLocation {
    margin: 30px 10px 0px 10px;
    color: #939bf4;

}

/* Css for the info header with logo and site link when a user presses the job-cards */


.Company-Info {
    width: 60%;
    max-width: 2000px;
    height: 180px;
    margin: 0px;
    position: absolute;
    top: 20px;
    display: none;
    z-index: 10;
}

.company-logo-img {
    width: 30%;
    height: 100%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-logo-img img {
    width: 70%;
    object-fit: contain;
}

.Company-Site {
    width: 70%;
    height: 100%;
    background-color: var(--on-background-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    transition: 1s ease-in-out;
}

.Company-name {
    color: var(--primary-color);
    transition: 1s ease-in-out;
}

.Name_site {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.company-site-btn {
    padding: 20px 25px;
    margin: 0px 40px;
    background-color: var(--primary-variant);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--secondary-color);
    transition: 1s ease-in-out;

}


.Name_site p {
    margin: 0px;
}

/* Css for the job description page/section when a user presses the job-cards */

.company_logo {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.Job-info-Container {
    width: 60%;
    max-width: 2000px;
    height: auto;
    min-height: 100vh;
    background-color: var(--on-background-2);
    margin-top: 50px;
    display: none;

}

.role-container {
    display: inline-block;
    margin: 10px 40px;

}

.role-cta {
    width: 100%;
    height: 180px;
    position: relative;
}

.role-type,
.role-date,
.role-location {
    display: inline-block;
    margin: 15px 10px;
}

.role-name {
    margin: 10px 10px;
    color: var(--primary-color);
    transition: 1s ease-in-out;
}

.role-location {
    color: blue;
    ;
}

.role-apply-now {
    padding: 18px 35px;
    margin: 0px 40px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    bottom: 50px;

}

.description {
    width: 90%;
    margin: 20px auto;
    line-height: 25px;
}

.requirements {
    width: 90%;
    margin: 30px auto;
    color: var(--primary-color);
    transition: 1s ease-in-out;
}

.requirements-p {
    width: 90%;
    margin: 20px auto;
    line-height: 25px;
}

.requirements-li {
    width: 87%;
    margin: 30px auto;
    color: gray;
}

.list {
    margin: 15px 0px;
}

.what-you-will-do {
    width: 90%;
    margin: 40px auto 20px auto;
    color: var(--primary-color);
    transition: 1s ease-in-out;
}

.what-you-will-do-p {
    width: 90%;
    margin: 20px auto;
    line-height: 25px;
}

.role-li {
    width: 87%;
    margin: 30px auto;
    color: gray;
}

.list2 {
    margin: 15px 0px;
}

/* footer for info page */
.cta2-container {
    width: 100%;
    height: 150px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--primary-color) 1px;
    transition: 1s ease-in-out;


}

.cta2 {
    width: 61%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta2 button {
    padding: 18px 35px;
    margin: 0px 0px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back {
    width: 50px;
    position: absolute;
    right: 0%;
    top: -50px;
    border: none;
    background-color: transparent;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}

.DisplayFlex {
    display: flex;
}

.DisplayBlock {
    display: block;
}

.DisplayNone {
    display: none;
    transition: 1s ease-in-out;
}

.DisplayNoneanimation {
    animation: displayNone 1s ease-out forwards;
    animation-fill-mode: forwards;
    transition: 1s ease-in-out;
}

.Displayanimation {
    animation: displayagain 1s ease-out forwards;
    animation-fill-mode: forwards;
    transition: 1s ease-in-out;
}

.Displayanimation2 {
    animation: display1 1s ease-out forwards;
    animation-fill-mode: forwards;
    transition: 1s ease-in-out;
    display: flex;
}

.Displayanimation3 {
    animation: display2 1s ease-out forwards;
    animation-fill-mode: forwards;
    transition: 1s ease-in-out;
    display: block;
    position: absolute;
    top: 200px;
}

button {
    cursor: pointer;
}



@keyframes displayNone {
    0% {
        opacity: 1;
        position: relative;
        left: 0%;
    }



    100% {
        position: relative;
        opacity: 0.1;
        left: -100%;
        height: 100vh;
    }
}

@keyframes displayagain {
    0% {
        opacity: 0.1;
        position: relative;
        left: -100%;
    }



    100% {
        position: relative;
        opacity: 1;
        left: 0%;
    }
}

@keyframes display1 {
    0% {
        opacity: 0;
        display: flex;
    }


    100% {
        opacity: 1;
        display: flex;
    }
}

@keyframes display2 {
    0% {
        opacity: 0;
        display: block;
    }


    100% {
        opacity: 1;
        display: block;
    }
}








@media only screen and (min-width: 2500px) {
    header {
        width: 100%;
        height: fit-content;
        background-image: url(assets/tablet/bg-pattern-header.svg);
    }

    .LogoConatiner {
        width: 80%;
        max-width: 80%;
        height: 50%;
    }

    .LogoConatiner .Logo {
        width: 10%;
        max-width: 10%;
    }

    .Light-DarkMode {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .Light-DarkMode img {
        width: 10%;
        max-width: 10%;
    }

    .switch {
        width: 70px;
        height: 44px;
    }

    .slider:before {
        height: 36px;
        width: 36px;
    }

    .SearchContainer {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    input::placeholder {
        font-size: 22px;
        margin: 10px;
    }

    input {
        font-size: 26px;
    }

    .submit p {
        font-size: 26px;
    }

    .submit button {
        font-size: 22px;
    }

}

@media only screen and (max-width: 1000px) {

    .LogoConatiner {
        width: 85%;
        height: 40%;
    }

    .SearchContainer {
        width: 75%;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .Job-Posting-Container {
        width: 90%;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .Company-Info {
        width: 80%;
    }

    .Job-info-Container {
        width: 80%;
    }

    .cta2 {
        width: 80%;

    }


}



@media only screen and (max-width: 800px) {
    header {
        width: 100%;

        background-image: url(assets/tablet/bg-pattern-header.svg);
    }

    .LogoConatiner {
        width: 75%;
        height: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .SearchContainer {
        width: 75%;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .jobCard {
        width: 38%;
        height: 250px;
        background-color: white;
        margin: 40px 15px;
        position: relative;
        border-radius: 10px;
    }

    .Company-Info {
        width: 90%;
        top: 35px;
    }



    .Job-info-Container {
        width: 90%;
        margin-top: 70px;
    }

    .cta2 {
        width: 89%;

    }


}

@media only screen and (max-width: 600px) {
    .SearchContainer {
        width: 95%;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .jobCard {
        width: 45%;
        height: 250px;
        background-color: white;
        margin: 40px 5px;
        position: relative;
        border-radius: 10px;
    }

    .Company-Info {
        width: 90%;
        height: 220px;
        margin: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        top: 35px;
    }

    .Company-Site {
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin: 20px auto;
    }

    .company-logo-img {
        width: 80px;
        height: 80px;
        background-color: yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        position: absolute;
        top: -50px;
    }

    .role-apply-now {
        width: 90%;
        padding: 18px 35px;
        margin: 10px 20px;
        background-color: blueviolet;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: initial;
        right: initial;
        bottom: initial;
    }

    .role-cta {
        width: 100%;
        height: auto;
        position: relative;
    }

    main {
        margin: 20px auto;

    }

    .back {
        width: 30px;
        position: absolute;
        right: 91%;
    }





    /* .Job-info-Container {
        margin-top: 260px;
    } */
}


@media only screen and (max-width: 500px) {
    header {
        width: 100%;
        background-image: url(assets/mobile/bg-pattern-header.svg);
    }

    .LogoConatiner {
        width: 98%;
        height: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px;
    }

    .SearchContainer {
        width: 100%;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .title,
    .location::placeholder {
        font-size: 10px;
    }

    .submit {
        width: 200px;
        min-width: 160px;
        font-size: 10px;
    }

    .submit button {
        padding: 0px 0px;
    }

    .jobCard {
        width: 70%;
        height: 250px;
        background-color: white;
        margin: 40px 5px;
        position: relative;
        border-radius: 10px;
    }

}

/* what is left to do
add hover state
make sure larger screen is responsive
make sure elements dont over lap
add the see more button */