@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

.OuterContainer{
    width: 100%;
    height: 100vh;
    background-color: #F2F2F2;
}

header{
    width: 100%;
    height: 25%;
    background-image:url(assets/desktop/bg-pattern-header.svg) ;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 50px 0px;

}

.LogoConatiner{
    width: 65%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}

.Light-DarkMode{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.Light-DarkMode img{
    width: 20px;
}

/* The switch - the box around the slider for light and darkMode */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin: 0px 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* Search Feild css */
  .SearchContainer{
     width: 65%;
    height: 30%; 
    background-color: white;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .SearchContainer img{
    padding: 5px;
  }

  .title{
    width: 40%;
    height: 100%;
    border: none;
    border-right: solid 1px gray;
  }

  .location{
    width: 30%;
    height: 100%;
    border: none;
    border-right: solid 1px gray;
  }

    .submit{
    width: 30%;
    min-width: 250px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .submit button{
    padding: 5px 15px;
    background-color: #2196F3;
    border: solid #2196F3;
  }

  /* Header Section complete */

  /* main section */
  main{
    width: 100%;
    height: auto;
    background-color: #F4F6F8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    position: relative;
   
  }

  /* All the css pertaining the job cards */

  .Job-Posting-Container{
    width: 70%;
    max-width: 2000px;
    height: auto;
    background-color: thistle;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px auto;
    display: none;
  }

  .jobCard{
    width: 29%;
    height: 250px;
    background-color: white;
    margin: 40px 10px;
    position: relative;
    border-radius: 10px;
  }

  .logocard{
    width: 65px;
    height: 65px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    position: absolute;
    top: -13%;
    left: 5%;
  }

  .companyLogo{
    width: 100%;
    object-fit: contain;
  }

  .jobInfo{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 55px 0px 10px 0px;
  }

  .jobInfo .dot{
    font-weight: bold;
  }
  .jobInfo .CompanyName, p{
    margin: 0px 10px;
    color: #9DAEC2;
  }

  .jobCard .Role{
    margin: 10px 10px;
  }

  .jobCard .jobLocation{
    margin: 30px 10px 0px 10px;
    color: black;

  }

  /* Css for the info header with logo and site link when a user presses the job-cards */


  .Company-Info{
    width: 60%;
    max-width: 2000px;
    height: 180px;
    margin: 10px;
    display: flex;
    position: absolute;
    top: -80px;
  }

  .company-logo-img{
    width: 30%;
    height: 100%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .company-logo-img img{
    width: 70%;
    object-fit: contain;
  }

  .Company-Site{
    width: 70%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Name_site{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: left;
  }

  .Company-Site button{
    padding: 20px 25px;
    margin: 0px 40px;
    background-color: #00FFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }


  .Name_site p{
    margin: 0px;
  }
   /* Css for the job description page/section when a user presses the job-cards */

  .Job-info-Container{
    width: 60%;
    max-width: 2000px;
    height: auto;
    min-height: 100vh;
    background-color: white;
    margin-top: 130px;
    
  }

  .role-container{
    display: inline-block;
    margin: 10px 40px;
    
  }

  .role-cta{
    width: 100%;
    height: 180px;
    position: relative;
  }

  .role-type, .role-date, .role-location{
    display: inline-block;
    margin: 15px 10px;
  }

  .role-name{
    margin: 10px 10px;
  }

  .role-apply-now{
    padding: 18px 35px;
    margin: 0px 40px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    bottom: 50px;

  }

  .description{
    width: 90%;
    margin: 20px auto;
    line-height: 25px;
  }

  .requirements{
    width: 90%;
    margin: 30px auto;
  }

  .requirements-p{
    width: 90%;
    margin: 20px auto;
    line-height: 25px;
  }

  .requirements-li{
    width: 87%;
    margin: 30px auto;
    color: gray;
  }

  .list{
    margin: 15px 0px;
  }

  .what-you-will-do{
    width: 90%;
    margin: 40px auto 20px auto;
  }

  .what-you-will-do-p{
    width: 90%;
    margin: 20px auto;
    line-height: 25px;
  }

  .role-li{
    width: 87%;
    margin: 30px auto;
    color: gray;
  }

  .list2{
    margin: 15px 0px;
  }
  /* footer for info page */
  .cta2-container{
    width: 100%;
    height: 150px;
    background-color: white;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .cta2{
    width: 61%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .cta2 button{
    padding: 18px 35px;
    margin: 0px 0px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }




  @media only screen and (min-width: 2500px){
    header {
        width: 100%;
        height: fit-content;
        background-image: url(assets/tablet/bg-pattern-header.svg);
    }

    .LogoConatiner {
        width: 80%;
        max-width: 80%;
        height: 50%;
    }

    .LogoConatiner .Logo {
        width: 10%;
        max-width: 10%;
    }

    .Light-DarkMode {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .Light-DarkMode img {
        width: 10%;
        max-width: 10%;
    }

    .switch {
        width: 70px;
        height: 44px;
    }

    .slider:before {
        height: 36px;
        width: 36px;
    }

    .SearchContainer{
       top: 100%;
       left: 50%;
       transform: translate(-50%,-50%);
     }

     input::placeholder{
        font-size: 22px;
        margin: 10px;
     }

     input{
        font-size: 26px;
     }

     .submit p{
        font-size: 26px;
     }

     .submit button{
        font-size: 22px;
     }

    }

    @media only screen and (max-width: 1000px){

        .LogoConatiner{
            width: 85%;
            height: 40%;
        }

        .SearchContainer{
            width: 75%;
            top: 80%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        .Job-Posting-Container{
            width: 90%;
            height: auto;
            background-color: thistle;
            justify-content:center;
            align-items: center;
            flex-wrap: wrap;
          }

          .Company-Info{
            width: 80%;
          }

          .Job-info-Container{
            width: 80%;
          }

          .cta2 {
            width: 80%;
    
        }

          
    }



  @media only screen and (max-width: 800px){
    header{
        width: 100%;
        
        background-image:url(assets/tablet/bg-pattern-header.svg) ;
    }

    .LogoConatiner{
        width: 75%;
        height: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .SearchContainer{
        width: 75%;
        top: 95%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .jobCard{
        width: 38%;
        height: 250px;
        background-color: white;
        margin: 40px 15px;
        position: relative;
        border-radius: 10px;
      }

      .Company-Info{
        width: 90%;
      }

      .Job-info-Container{
        width: 90%;
      }

      .cta2 {
        width: 89%;

    }

    
   
}

@media only screen and (max-width: 600px){
    .SearchContainer{
        width: 95%;
        top: 85%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .jobCard{
        width: 45%;
        height: 250px;
        background-color: white;
        margin: 40px 5px;
        position: relative;
        border-radius: 10px;
      }

      .Company-Info{
        width: 90%;
        height: 220px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        top: 0px;
      }

      .Company-Site {
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin: 20px auto;
    }

    .company-logo-img {
        width: 80px;
        height: 80px;
        background-color: yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        position: absolute;
        top: -50px;
    }

    .role-apply-now {
        width: 90%;
        padding: 18px 35px;
        margin: 10px 20px;
        background-color: blueviolet;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: initial;
        right: initial;
        bottom: initial;
    }

    .role-cta {
        width: 100%;
        height: auto;
        position: relative;
    }

    .Job-info-Container {
        margin-top: 260px;
    }
}


@media only screen and (max-width: 500px){
    header{
        width: 100%;
        background-image:url(assets/mobile/bg-pattern-header.svg) ;
    }

    .LogoConatiner{
        width: 98%;
        height: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px;
    }

    .SearchContainer{
        width: 95%;
        top: 95%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .title, .location::placeholder {
        font-size: 10px;
    }

    .submit{
        width: 200px;
        min-width: 160px;
        font-size: 10px;
    }

    .submit button{
        padding: 5px 5px;
    }

    .jobCard{
        width: 70%;
        height: 250px;
        background-color: white;
        margin: 40px 5px;
        position: relative;
        border-radius: 10px;
      }
}